.board-head {
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}
.board-head .reset,
.board-head .treasure-count,
.board-head .timer {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-head .reset {
  font-size: 20px;
}

.board {
  width: 499px;
  height: 600px;
  border: 1px solid #444;
  border-bottom: none;
}
.board .row {
  display: flex;
  height: 100px;
}
.board .row:last-child {
  border-bottom: none;
  height: 100px;
}
.board .row .cell {
  border-right: 1px solid #444;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #444;
}
.board .row .cell.open {
  background-color: #d4d4d4;
}
.board .row .cell.open:hover {
  background-color: #d4d4d4;
}
.board .row .cell:hover {
  background-color: #eeeeee;
}
.board .row .cell:last-child {
  border-right: none;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
html #root,
body #root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html #root .treasure-hunter,
body #root .treasure-hunter {
  display: flex;
  flex-direction: column;
  height: 592px;
}
html #root .treasure-hunter h1,
p,
body #root .treasure-hunter h1,
p {
  text-align: center;
  border-left: 1px solid #444;
  border-top: 1px solid #444;
  border-right: 1px solid #444;
}

.wrappModal {
  position: relative;
}
.modal {
  background-color: #ddd;
  position: absolute;
  height: 200px;
  width: 500px;
  font-size: 20px;
  text-align: center;
  border: 2px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex: row;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 40px;
  text-align: center;
}
